body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

h2 {
    color: darkgreen;
}

img {
    border-radius: 10px;
    margin-top: 20px;
}

